<ol class="posts">
	<% @posts.each do |post| %>
		<li>
			<a href="/posts/<%= post.id %>"><%= post.title %></a><br/>
			<span class="details"><%= post.votes.count %> points by <%= post.user.name %> | <%= post.comments.count %> comments</span>
		</li>
	<% end %>
</ol>